@model BookStores.ViewModels.EditorBookViewModel
@{
    ViewBag.Title = "Criando um novo livro...";
}

@helper MinhaFuncao(string nome)
{
    <text>Você está logado com @nome </text>
}

<p>
    @MinhaFuncao("Alan Martins")
</p>


<h2>Novo Livro</h2>

@using (Html.BeginForm())
{
    @Html.Partial("Partials/EditorBookPartial", Model);

    <button type="submit" class="btn btn-primary">Criar</button>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

