@model BookStores.ViewModels.EditorBookViewModel
@{
    ViewBag.Title = "Editando um novo livro...";
}

<h2>Editar Livro</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)

    @Html.Partial("Partials/EditorBookPartial", Model);

    <button type="submit" class="btn btn-primary">Alterar</button>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

